
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  
}
body{
  min-height: 100vh;
  width: 100%;
  background: white;

  
}
footer{
    background-image: url("./images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
    margin-bottom: 0;
  
}

footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 0px;
  width: 100%;
  background: #cb2ce0;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding-top: 10rem;
  gap: 4rem;
}
.circle {
  position: relative;
  width: 200px; 
  height: 200px;
  background: #6671d0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  top: 50%;
  transform: translate(600%, 0%);
}

.circle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

i.fas.fa-arrow-up {
  font-size: 24px; 
}


footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.content .top .media-icons{
  display: flex;
  margin-left: 0;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 2 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #747171;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #a600cf;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  height: auto;
}

.content .link-boxes .box li{
  margin: 6px 3;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #696767;
  font-size: 15px;
  font-weight: 100;
  line-height: 3;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.from-control{
    box-sizing: border-box;
}